.Sensor {
    width: 203px;
    min-height: 100px;
    background-color: var(--color-1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 15px 19px;
    box-sizing: border-box;
}
.Sensor-title {
    font-size: 14px;
    color: rgba(255, 255, 255,0.6);
}
.Sensor-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    align-items: center;
}
.Sensor-no-data, .Sensor-content {
    color: white;
}
.Sensor-no-data {
    font-size: 34px;
}
.Sensor-value {
    font-size: 48px;
}
.Sensor-unit {
    margin-left: 6px;
    font-size: 30px;
}